:root {
   --headerFS: 70px;
   --primaryFS: 44px;
   --peraFS: 17px;
   --hoverHeaderFS: 16px;
   --hoverFS: 14px;

   // Colors
   --brandColor: #1f5a44;
   --primaryColor: #262626;
   --secondaryColor: #464a52;
   --navBG: #faf9f6;
   --bgOne: #f2f0ea;
   --bgTwo: #faf9f6;
   --cardBG: #ffffff;
   --footerTextColor: #cfd2d6;
   --primaryColor: #262626;
   --footerBgColor: #14161A;
   --btnHover: #0b5ed7;

   // Fonts
   --frauncesFont: "Fraunces", serif;
   --interFont: "Inter", sans-serif;
   --monospace: "Space Mono", monospace;

   // Shadow
   --NavShadow: 0 4px 16px rgba(0, 0, 0, 0.16);
   --cardShadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
}


.bestSellerPagination {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.bestSellerPagination .swiper-pagination-bullet {
   width: 10px !important;
   height: 10px !important;
   margin: 0 !important;
   padding: 0 !important;

   display: block;

   border-radius: 999px;

   background: #dedbd3;

   opacity: 1;

   cursor: pointer;

   transition:
      width 0.35s ease,
      background-color 0.35s ease,
      transform 0.35s ease;
}

.bestSellerPagination .swiper-pagination-bullet:hover {
   transform: scale(1.1);
}

.bestSellerPagination .swiper-pagination-bullet-active {
   width: 30px !important;
   height: 10px !important;

   border-radius: 999px;

   background: #17634d;

   opacity: 1;
}



/* Swiper Pagination Container Alignment */
.swiper-pagination {
   position: relative !important;
   bottom: 0 !important;
   margin-top: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
}

/* Inactive Dots (ছোট গোলাকার ডট) */
.swiper-pagination-bullet {
   width: 8px !important;
   height: 8px !important;
   background-color: #e5e7eb !important;
   /* Light Gray */
   opacity: 1 !important;
   margin: 0 !important;
   border-radius: 9999px !important;
   transition: all 0.3s ease-in-out !important;
   cursor: pointer;
}

/* Hover Effect on Inactive Dots */
.swiper-pagination-bullet:hover {
   background-color: #9ca3af !important;
}

/* Active Dot (সবুজ ক্যাপসুল / Pill Shape) */
.swiper-pagination-bullet-active {
   width: 24px !important;
   /* পিল শেপের দৈর্ঘ্য */
   height: 8px !important;
   background-color: #1b4332 !important;
   /* ছবির আসল ফরেস্ট গ্রিন কালার */
   border-radius: 9999px !important;
}